<h1>Cabrera, Ryn Joseph V.</h1>
<h1>BSIT-3A</h1>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import f_oneway

In [2]:
accident = pd.read_csv("dataset\\accident_data.csv")

In [3]:
accident

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,200701BS64157,Serious,05/06/2019,51.506187,Darkness - lights lit,Kensington and Chelsea,-0.209082,1,2,Dry,Single carriageway,Urban,Fine no high winds,Car
1,200701BS65737,Serious,02/07/2019,51.495029,Daylight,Kensington and Chelsea,-0.173647,1,2,Wet or damp,Single carriageway,Urban,Raining no high winds,Car
2,200701BS66127,Serious,26/08/2019,51.517715,Darkness - lighting unknown,Kensington and Chelsea,-0.210215,1,3,Dry,NaN,Urban,NaN,Taxi/Private hire car
3,200701BS66128,Serious,16/08/2019,51.495478,Daylight,Kensington and Chelsea,-0.202731,1,4,Dry,Single carriageway,Urban,Fine no high winds,Bus or coach (17 or more pass seats)
4,200701BS66837,Slight,03/09/2019,51.488576,Darkness - lights lit,Kensington and Chelsea,-0.192487,1,2,Dry,NaN,Urban,NaN,Other vehicle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660674,201091NM01760,Slight,18/02/2022,57.374005,Daylight,Highland,-3.467828,2,1,Dry,Single carriageway,Rural,Fine no high winds,Car
660675,201091NM01881,Slight,21/02/2022,57.232273,Darkness - no lighting,Highland,-3.809281,1,1,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660676,201091NM01935,Slight,23/02/2022,57.585044,Daylight,Highland,-3.862727,1,3,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660677,201091NM01964,Serious,23/02/2022,57.214898,Darkness - no lighting,Highland,-3.823997,1,2,Wet or damp,Single carriageway,Rural,Fine no high winds,Motorcycle over 500cc
660678,201091NM02142,Serious,28/02/2022,57.575210,Daylight,Highland,-3.895673,1,1,Wet or damp,Dual carriageway,Rural,Snowing no high winds,Car

<h1>Data Preparation</h1>

In [4]:
accident.dtypes

Index                       object
Accident_Severity           object
Accident Date               object
Latitude                   float64
Light_Conditions            object
District Area               object
Longitude                  float64
Number_of_Casualties         int64
Number_of_Vehicles           int64
Road_Surface_Conditions     object
Road_Type                   object
Urban_or_Rural_Area         object
Weather_Conditions          object
Vehicle_Type                object
dtype: object

<h1>CHANGING DATA TYPES</h1>

In [5]:
accident['Accident_Severity'] == accident['Accident_Severity'].astype('category')

0         True
1         True
2         True
3         True
4         True
          ...
660674    True
660675    True
660676    True
660677    True
660678    True
Name: Accident_Severity, Length: 660679, dtype: bool

In [6]:
accident['Accident_Severity'].value_counts()

Accident_Severity
Slight     563801
Serious     88217
Fatal        8661
Name: count, dtype: int64

In [7]:
accident.dtypes

Index                       object
Accident_Severity           object
Accident Date               object
Latitude                   float64
Light_Conditions            object
District Area               object
Longitude                  float64
Number_of_Casualties         int64
Number_of_Vehicles           int64
Road_Surface_Conditions     object
Road_Type                   object
Urban_or_Rural_Area         object
Weather_Conditions          object
Vehicle_Type                object
dtype: object

In [8]:
accident['Latitude'] = accident['Latitude'].fillna(accident['Latitude'].mode()[0])
accident['Longitude'] = accident['Longitude'].fillna(accident['Longitude'].mode()[0])
accident['Road_Surface_Conditions'] = accident['Road_Surface_Conditions'].fillna(accident['Road_Surface_Conditions'].mode()[0])
accident['Road_Type'] = accident['Road_Type'].fillna('unaccounted')
accident['Weather_Conditions'] = accident['Weather_Conditions'].fillna(accident['Weather_Conditions'].mode()[0])
accident['Urban_or_Rural_Area'] = accident['Urban_or_Rural_Area'].fillna(accident['Urban_or_Rural_Area'].mode()[0])

In [9]:
accident.isnull().sum()

Index                      0
Accident_Severity          0
Accident Date              0
Latitude                   0
Light_Conditions           0
District Area              0
Longitude                  0
Number_of_Casualties       0
Number_of_Vehicles         0
Road_Surface_Conditions    0
Road_Type                  0
Urban_or_Rural_Area        0
Weather_Conditions         0
Vehicle_Type               0
dtype: int64

<h1>Categorical Data Fields</h1>

In [10]:
accident['Accident_Severity'] = accident['Accident_Severity'].astype('category')
accident['Latitude'] = accident['Latitude'].astype('category')
accident['Light_Conditions'] = accident['Light_Conditions'].astype('category')
accident['District Area'] = accident['District Area'].astype('category')
accident['Longitude'] = accident['Longitude'].astype('category')
accident['Road_Surface_Conditions'] = accident['Road_Surface_Conditions'].astype('category')
accident['Road_Type'] = accident['Road_Type'].astype('category')
accident['Urban_or_Rural_Area'] = accident['Urban_or_Rural_Area'].astype('category')
accident['Weather_Conditions'] = accident['Weather_Conditions'].astype('category')
accident['Vehicle_Type'] = accident['Vehicle_Type'].astype('category')

In [11]:
accident.dtypes

Index                        object
Accident_Severity          category
Accident Date                object
Latitude                   category
Light_Conditions           category
District Area              category
Longitude                  category
Number_of_Casualties          int64
Number_of_Vehicles            int64
Road_Surface_Conditions    category
Road_Type                  category
Urban_or_Rural_Area        category
Weather_Conditions         category
Vehicle_Type               category
dtype: object

<h1>CONVERTING OBJECT TO DATE TIME DATA TYPE</h1>

In [12]:
accident['Accident Date'] = pd.to_datetime(accident['Accident Date'], dayfirst = True, errors = 'coerce')

accident.dtypes

In [13]:
accident.isnull().sum()

Index                      0
Accident_Severity          0
Accident Date              0
Latitude                   0
Light_Conditions           0
District Area              0
Longitude                  0
Number_of_Casualties       0
Number_of_Vehicles         0
Road_Surface_Conditions    0
Road_Type                  0
Urban_or_Rural_Area        0
Weather_Conditions         0
Vehicle_Type               0
dtype: int64

<h1>Extracting Data Information Using Pandas Date Time</h1>

In [14]:
accident['Year'] = accident['Accident Date'].dt.year
accident['Month'] = accident['Accident Date'].dt.month
accident['Day'] = accident['Accident Date'].dt.day
accident['DayOfWeek'] = accident['Accident Date'].dt.dayofweek

In [15]:
accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660679 entries, 0 to 660678
Data columns (total 18 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Index                    660679 non-null  object
 1   Accident_Severity        660679 non-null  category
 2   Accident Date            660679 non-null  datetime64[ns]
 3   Latitude                 660679 non-null  category
 4   Light_Conditions         660679 non-null  category
 5   District Area            660679 non-null  category
 6   Longitude                660679 non-null  category
 7   Number_of_Casualties     660679 non-null  int64
 8   Number_of_Vehicles       660679 non-null  int64
 9   Road_Surface_Conditions  660679 non-null  category
 10  Road_Type                660679 non-null  category
 11  Urban_or_Rural_Area      660679 non-null  category
 12  Weather_Conditions       660679 non-null  category
 13  Vehicle_Type             660679 non-null  category
 14  Year                     660679 non-null  int32
 15  Month                    660679 non-null  int32
 16  Day                      660679 non-null  int32
 17  DayOfWeek                660679 non-null  int32
dtypes: category(10), datetime64[ns](1), int32(4), int64(2), object(1)
memory usage: 81.2+ MB

<h1>Insight No.1</h1>
<h2>Accident Severity has the highest during the Lighting Conditons of Darkness - no lighting</h2>

In [16]:
df_light_conditons = accident[accident['Light_Conditions'] == 'Darkness - no lighting']

df_light_conditons['Accident_Severity'].value_counts()

Accident_Severity
Slight     28651
Serious     7174
Fatal       1612
Name: count, dtype: int64

<h1>Insight No.2</h1>
<h2>vehicle type has the most fatal accident</h2>

In [17]:
df_fatal = accident[accident['Accident_Severity'] == 'Fatal']
df_fatal['Vehicle_Type'].value_counts()

Vehicle_Type
Car                                      6577
Van / Goods 3.5 tonnes mgw or under       467
Motorcycle over 500cc                     339
Bus or coach (17 or more pass seats)      325
Goods 7.5 tonnes mgw and over             216
Motorcycle 125cc and under                189
Taxi/Private hire car                     155
Motorcycle over 125cc and up to 500cc     105
Motorcycle 50cc and under                  95
Other vehicle                              70
Goods over 3.5t. and under 7.5t            67
Minibus (8 - 16 passenger seats)           29
Agricultural vehicle                       21
Pedal cycle                                 6
Data missing or out of range                0
Ridden horse                                0
Name: count, dtype: int64

<h1>Insight No.3</h1>
<h2>Year has the most accident during the weather conditions of Fog or mist</h2>

In [18]:
df_fog_mist = accident[accident['Weather_Conditions'] == 'Fog or mist']
df_fog_mist['Year'].value_counts()

Year
2020    981
2022    902
2019    857
2021    788
Name: count, dtype: int64

<h1>Insight No.4</h1>
<h2>Correlation between the number of casualty and the number of vehicle</h2>

In [19]:
df_casulaty_vehicle = accident['Number_of_Casualties'].corr(accident['Number_of_Vehicles'])
np.round(df_casulaty_vehicle.mean(),1)

0.2

<h1>Insight No.5</h1>
<h2>Accident Severity in every Road Type</h2>

In [20]:
df_severity_rtype = accident.groupby(['Accident_Severity', 'Road_Type'],observed = True).size()
df_severity_rtype.unstack()

Road_Type,Dual carriageway,One way street,Roundabout,Single carriageway,Slip road,unaccounted
Accident_Severity,,,,,,
Fatal,1815,95,142,6527,49,33
Serious,11746,1655,3665,70059,611,481
Slight,85863,11809,40185,415557,6381,4006

<h1>Insight No.6</h1>
<h2>Casualties occur during the Weather Condition of Snowing no high winds in the Year 2021</h2>

In [21]:
df_snowing = accident[accident['Weather_Conditions']== 'Snowing no high winds']
df_2021 = df_snowing[df_snowing['Year'] == 2022]

Snowing = df_2021['Weather_Conditions'].value_counts()
print('Snowing no high winds:',Snowing.get('Snowing no high winds'))

Snowing no high winds: 2923

<h1>Insight No.7</h1>
<h2>Vehicle type gets an accident in Urban Area</h2>

In [22]:
df_urban = accident[accident['Urban_or_Rural_Area'] == 'Urban']
df_urban['Vehicle_Type'].value_counts()

Vehicle_Type
Car                                      316062
Van / Goods 3.5 tonnes mgw or under       22003
Bus or coach (17 or more pass seats)      16851
Motorcycle over 500cc                     16700
Goods 7.5 tonnes mgw and over             11151
Motorcycle 125cc and under                10246
Taxi/Private hire car                      8617
Motorcycle over 125cc and up to 500cc      4982
Motorcycle 50cc and under                  4893
Goods over 3.5t. and under 7.5t            3864
Other vehicle                              3643
Agricultural vehicle                       1272
Minibus (8 - 16 passenger seats)           1258
Pedal cycle                                 127
Data missing or out of range                  6
Ridden horse                                  3
Name: count, dtype: int64

<h1>Insight No.8</h1>
<h2>Accidents of Motorcycle over 500cc during Weather Conditions of Fine no high winds in Every Year</h2>

In [23]:
df_no_winds = accident[accident['Weather_Conditions'] == 'Fine no high winds']

df_500cc = df_no_winds[df_no_winds['Vehicle_Type'] == 'Motorcycle over 500cc']

df_500cc['Year'].value_counts()

Year
2019    6223
2020    5366
2021    4964
2022    4240
Name: count, dtype: int64

<h1>Insight No.9</h1>
<h2>Road Type has an accident of motorcycle over 500cc</h2>

In [24]:
df_500cc = accident[accident['Vehicle_Type'] == 'Motorcycle over 500cc']
df_500cc['Road_Type'].value_counts()

Road_Type
Single carriageway    19050
Dual carriageway       3930
Roundabout             1737
One way street          499
Slip road               284
unaccounted             157
Name: count, dtype: int64

<h1>Insight No.10</h1>
<h2>Casualties in every Road Type in every different Year </h2>

In [25]:
df_severity_rtype = accident.groupby(['Year', 'Road_Type'],observed = True).size()
df_severity_rtype.unstack()

Road_Type,Dual carriageway,One way street,Roundabout,Single carriageway,Slip road,unaccounted
Year,,,,,,
2019,28162,3813,11698,134898,1974,1570
2020,25795,3549,11365,126633,1833,1416
2021,24052,3271,11041,122573,1698,919
2022,21415,2926,9888,108039,1536,615