In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

<h1> IMPORTING PENGUIN DATA SET USING PANDAS</h1>

In [2]:
penguins = pd.read_csv('dataset\\penguins.csv')

In [3]:
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

<h1>BASIC CHECKING AND DESCRIPTIVE ANALYTICS

In [4]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
 7   year               344 non-null    int64
dtypes: float64(4), int64(1), object(3)
memory usage: 21.6+ KB

In [5]:
penguins.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,342.000000,342.000000,342.000000,342.000000,344.000000
mean,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,5.459584,1.974793,14.061714,801.954536,0.818356
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000

<h1>CREATING OWN COLUMN

In [6]:
penguins['weight_kg'] = np.round(penguins['body_mass_g']/ 100, 1)

In [7]:
penguins['weight_kg']

0      37.5
1      38.0
2      32.5
3       NaN
4      34.5
       ...
339    40.0
340    34.0
341    37.8
342    41.0
343    37.8
Name: weight_kg, Length: 344, dtype: float64

<h1>DATA EXPLORATION</h1>

In [ ]:
penguins['species'].value_counts()

In [ ]:
penguins['island'].value_counts()

<h1>DOES THE ADELIE PENGUIN LIVE EXCLUSIVELY ON AND ISLAND

In [ ]:
penguins['species'] == 'Adelie'

In [ ]:
penguins[penguins['species'] == 'Adelie']
penguins[penguins['island'] == 'Biscoe']

<h1>ADELIE,GENTOO, and, CHINSTRAP in all ISLAND

In [ ]:
penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Biscoe')].info()
penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Dream')].info()
penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Torgersen')].info()

In [ ]:
penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Biscoe')].info()
penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Dream')].info()
penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Torgersen')].info()

In [ ]:
penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Biscoe')].info()
penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Dream')].info()
penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Torgersen')].info()

<h1>Gentoo Species

In [ ]:
penguins[(penguins['species'] == 'Gentoo') & (penguins ['island'] == 'Torgersen')].count()

In [ ]:
gentoo_df = penguins[(penguins['species'] == 'Gentoo') & (penguins ['island'] == 'Biscoe')].count()
gentoo_df['weight_kg'].mean()

In [ ]:
np.round(gentoo_df['weight_kg'].mean(), 1)

In [ ]:
penguins[(penguins['species'] == 'Adelie') & (penguins ['island'] == 'Torgersen')].count()

In [ ]:
penguins[(penguins['species'] == 'Adelie') & (penguins ['island'] == 'Torgersen')].count()

<h1>Insight 1</h1>
<h2>Residence of Adelie in every Island</h2>

In [ ]:
gent = penguins[penguins['species'] == 'Gentoo']
gent['island'].value_counts()

<h1>Insight 2<h1>

In [ ]:
chins = penguins[penguins['species'] == 'Chinstrap']
chins['island'].value_counts()

In [ ]:
adel = penguins[penguins['species'] == 'Adelie']
adel['island'].value_counts()

In [ ]:
penguin_biscoe = penguins[(penguins['species'] == 'Adelie') & (df['island'] == 'Biscoe')]
penguin_biscoe